# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints
wip_notebooks

*.pdf

# MacOS
.DS_Store

# Logs
*.log

# Setuptools distribution folder
/dist/

# Python egg metadata
/*.egg-info

# docs directory
/docs/_build/
/docs/_static/
/docs/_templates/
/docs/gen_modules/
/docs/gallery/
/docs/make.bat
/docs/Makefile